@{
    ViewData["Title"] = "主页";
}

<div class="text-center">
    <h1 class="display-2">欢迎来到范康的家园</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

